:root{
  --dark: #383e43;
  --meddark: #50585e;
  --med: #7e838a;
  --light: #a4aab1;
  --accent: #b63726;
  --accent2: #26a5b6;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--meddark);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#timeSwitcher {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: var(--accent);
  color: white;
  border: white 2px;
  border-style: solid solid none none;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-top: 1px dashed #000000;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: var(--med);
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: var(--light);
  color: var(--dark);
  text-decoration:line-through;
}

.present {
  background-color: var(--accent);
  color: white;
}

.future {
  background-color: var(--accent2);
  color: black
}

.saveBtn {
  border: 2px solid black;
  border-style: solid solid none none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--med);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1150px) {
  .hour {
    font-size: 1rem;
  }
  .time-block {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hour {
    font-size: 0.8rem;
  }
  .time-block {
    font-size: 0.8rem
  }
}