

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color:#06afd571;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#timeSwitcher {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #ff6961;
  border: solid black 2px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-top: 1px dashed #000000;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: #5f5f5f;
  text-decoration:line-through;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1150px) {
  .hour {
    font-size: 1rem;
  }
  .time-block {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hour {
    font-size: 0.8rem;
  }
  .time-block {
    font-size: 0.8rem
  }
}